*.db
*.log
*.pyc
*.swp
.DS_Store
.coverage
.tox
AUTHORS
ChangeLog
bilean.egg-info/
bilean/versioninfo
build/
covhtml
dist/
doc/build
doc/source/bilean.*
doc/source/modules.rst
etc/bilean.conf
nosetests.xml
pep8.txt
requirements.txt
tests/test.db.pristine
vendor
etc/bilean/bilean.conf.sample
